{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div id="main-wrapper" class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-10">
                                <div class="card border-0">
                                    <div class="card-body p-0">
                                        <div class="row no-gutters">
                                            <div class="col-lg-6">
                                                <div class="p-5">
                                                    <div class="mb-5">
                                                        <h3 class="h4 font-weight-bold text-theme" style="color: #212529;">Connexion</h3>
                                                    </div>
                                                    {% if error %}
                                                    <div class="alert alert-danger alert-dismissible" role="alert"><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button>
                                                        <h4 class="alert-heading">Attention</h4><span><strong>{{error.messageKey|trans(error.messageData, 'security')}}</strong></span>
                                                    </div>
                                                    {% endif %}
                                                    <h6 class="h5 mb-0" style="color: #212529;">Welcome back !</h6>
                                                    <p class="text-muted mt-2 mb-5">Entrez votre mot de passe ainsi que votre adresse mail.</p>
                                                    <form action="{{path('app_security_login')}}" method="post">
                                                        <div class="form-group"><label class="form-label" for="username">Adresse mail</label><input class="form-control form-control" type="text" id="username" name="_username" value="{{ last_username }}"></div>
                                                        <div class="form-group mb-5"><label class="form-label" for="password">Mot de passe</label><input class="form-control form-control" type="password" id="password" name="_password"></div>
                                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                                        <button class="btn btn-theme" type="submit" style="background: #212529;">Se connecter</button>
                                                    </form><a href="#l" class="forgot-link float-right text-primary">Mot de passe oublié ?</a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 d-none d-lg-inline-block">
                                                <div class="account-block rounded-right">
                                                    <div class="overlay rounded-right"></div>
                                                    <div class="account-testimonial" style="padding-bottom: 137px;">
                                                        <h4 class="text-white mb-4" style="padding-bottom: 0px;">Connectez vous afin de profiter de promotions exclusives !</h4>
                                                        <p class="lead text-white" style="padding-bottom: 0px;padding-top: 0px;">"Poussez la porte, et entrez dans un monde de possibilités sans limites."</p>
                                                        <p>-Walt Disney</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-center text-muted mt-3 mb-0">Pas encore de compte ?&nbsp;&nbsp;<a href="register.html" class="text-primary ml-1">Rejoignez nous ici</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
