<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
    <div class="container"><a class="navbar-brand" href="#page-top">Brand</a>
        <form class="form-inline mr-auto" target="_self">
            <div class="form-group mb-3"><label class="form-label" for="search-field"></label><input class="form-control form-control search-field" type="search" id="search-field" name="search" style="padding-right: 15px;margin-bottom: 0px;"></div>
        </form><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto text-uppercase">
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                <li class="nav-item"><button class="btn btn-primary btn-primary btn-sm ms-1" type="button" aria-expanded="true" data-bs-toggle="dropdown" style="margin-top: 10px;">S'inscrire</button></li>
                <li class="nav-item"><button class="btn btn-primary btn-sm ms-1" type="button" aria-expanded="true" data-bs-toggle="dropdown" style="margin-top: 10px;"><span class="badge badge-pill badge-light">2</span><i class="fa fa-shopping-cart mx-2"></i>100€<span class="caret"></span></button></li>
            </ul>
        </div>
    </div>
</nav>