{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <section style="background: #000000;">
        <div class="container" style="background: #000000;">
            <div class="row" style="background: #000000;">
                <div class="col-md-12" style="background: #000000;">
                    <div class="card" style="background: rgb(0,0,0);">
                        <div class="card-body">
                            <h5 class="text-uppercase card-title mb-0" style="color: #a9b1b8;">gestion des utilisateurs</h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table no-wrap user-table mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase border-0 font-medium pl-4" scope="col" style="color: #a9b1b8;">#</th>
                                        <th class="text-uppercase border-0 font-medium" scope="col" style="color: #a9b1b8;">nom</th>
                                        <th class="text-uppercase border-0 font-medium" scope="col" style="color: #a9b1b8;">commandes</th>
                                        <th class="text-uppercase border-0 font-medium" scope="col" style="color: #a9b1b8;">Email</th>
                                        <th class="text-uppercase border-0 font-medium" scope="col" style="color: #a9b1b8;">créé le</th>
                                        <th class="text-uppercase border-0 font-medium" scope="col" style="color: #a9b1b8;">gestion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="pl-4" style="color: #bcbcbc;">1</td>
                                        <td><h5 class="text-muted mb-0">Daniel Kristeen</h5><span class="text-muted">Ville, Code postal</span></td>
                                        <td style="text-align: center;"><span class="text-muted">10</span><br></td>
                                        <td><span class="text-muted">daniel@website.com</span><br><span class="text-muted">01 16 16 16 16</span></td>
                                        <td><span class="text-muted">15 Mar 1988</span><br><span class="text-muted" style="text-align: left;">10: 55</span></td>
                                        <td><button class="btn btn-outline-info btn-lg btn-circle btn-circle" type="button" style="border-color: #fed136;background: #fed136;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -32 576 576" width="1em" height="1em" fill="currentColor" style="color: rgb(0,0,0);">
                                        <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                        <path d="M279.6 160.4C282.4 160.1 285.2 160 288 160C341 160 384 202.1 384 256C384 309 341 352 288 352C234.1 352 192 309 192 256C192 253.2 192.1 250.4 192.4 247.6C201.7 252.1 212.5 256 224 256C259.3 256 288 227.3 288 192C288 180.5 284.1 169.7 279.6 160.4zM480.6 112.6C527.4 156 558.7 207.1 573.5 243.7C576.8 251.6 576.8 260.4 573.5 268.3C558.7 304 527.4 355.1 480.6 399.4C433.5 443.2 368.8 480 288 480C207.2 480 142.5 443.2 95.42 399.4C48.62 355.1 17.34 304 2.461 268.3C-.8205 260.4-.8205 251.6 2.461 243.7C17.34 207.1 48.62 156 95.42 112.6C142.5 68.84 207.2 32 288 32C368.8 32 433.5 68.84 480.6 112.6V112.6zM288 112C208.5 112 144 176.5 144 256C144 335.5 208.5 400 288 400C367.5 400 432 335.5 432 256C432 176.5 367.5 112 288 112z"></path>
                                        </svg></button><button class="btn btn-outline-info btn-lg btn-circle" type="button" style="border-color: #fed136;background: #fed136;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor" style="color: rgb(0,0,0);">
                                        <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                        <path d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128H416L394.8 466.1z"></path>
                                        </svg></button><button class="btn btn-outline-info btn-lg btn-circle" type="button" style="border-color: #fed136;background: #fed136;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" style="color: rgb(0,0,0);">
                                        <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                        <path d="M362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32zM421.7 220.3L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3z"></path>
                                        </svg></button></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top: 0px;background: #000000;">
        <div class="container" style="background: #000000;">
            <div class="row" style="background: #000000;">
                <div class="col-md-12" style="background: #000000;">
                    <div class="card" style="background: rgb(0,0,0);">
                        <div class="card-body" style="color: #a9b1b8;">
                            <h5 class="text-uppercase card-title mb-0">gestion des commandes</h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table no-wrap user-table mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase border-0 font-medium pl-4" scope="col" style="color: #a9b1b8;">#</th>
                                        <th class="text-uppercase border-0 font-medium" scope="col" style="color: #a9b1b8;">id</th>
                                        <th class="text-uppercase border-0 font-medium" scope="col" style="color: #a9b1b8;">article(s)</th>
                                        <th class="text-uppercase border-0 font-medium" scope="col" style="color: #a9b1b8;">Email associé</th>
                                        <th class="text-uppercase border-0 font-medium" scope="col" style="color: #a9b1b8;">créée le</th>
                                        <th style="color: #a9b1b8;border-color: #000000;">Status</th>
                                        <th class="text-uppercase border-0 font-medium" scope="col" style="color: #a9b1b8;">gestion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="pl-4" style="color: #bcbcbc;">1</td>
                                        <td><h5 class="text-muted mb-0">commande_10</h5></td>
                                        <td style="text-align: left;"><span class="text-muted">10</span><br></td>
                                        <td><span class="text-muted">daniel@website.com</span><br></td>
                                        <td><span class="text-muted">15 Mar 1988</span><br><span class="text-muted" style="text-align: left;">10: 55</span></td>
                                        <td style="color: #8898aa;">En attente de paiement</td>
                                        <td><button class="btn btn-outline-info btn-lg btn-circle" type="button" style="border-color: #fed136;background: #fed136;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -32 576 576" width="1em" height="1em" fill="currentColor" style="color: rgb(0,0,0);">
                                                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                    <path d="M279.6 160.4C282.4 160.1 285.2 160 288 160C341 160 384 202.1 384 256C384 309 341 352 288 352C234.1 352 192 309 192 256C192 253.2 192.1 250.4 192.4 247.6C201.7 252.1 212.5 256 224 256C259.3 256 288 227.3 288 192C288 180.5 284.1 169.7 279.6 160.4zM480.6 112.6C527.4 156 558.7 207.1 573.5 243.7C576.8 251.6 576.8 260.4 573.5 268.3C558.7 304 527.4 355.1 480.6 399.4C433.5 443.2 368.8 480 288 480C207.2 480 142.5 443.2 95.42 399.4C48.62 355.1 17.34 304 2.461 268.3C-.8205 260.4-.8205 251.6 2.461 243.7C17.34 207.1 48.62 156 95.42 112.6C142.5 68.84 207.2 32 288 32C368.8 32 433.5 68.84 480.6 112.6V112.6zM288 112C208.5 112 144 176.5 144 256C144 335.5 208.5 400 288 400C367.5 400 432 335.5 432 256C432 176.5 367.5 112 288 112z"></path>
                                                </svg></button><button class="btn btn-outline-info btn-lg btn-circle" type="button" style="border-color: #fed136;background: #fed136;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor" style="color: rgb(0,0,0);">
                                                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                    <path d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128H416L394.8 466.1z"></path>
                                                </svg></button><button class="btn btn-outline-info btn-lg btn-circle" type="button" style="border-color: #fed136;background: #fed136;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" style="color: rgb(0,0,0);">
                                                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                    <path d="M362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32zM421.7 220.3L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3z"></path>
                                                </svg></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
