<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Erreur 403</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap2.min.css')}}">         
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">       

    </head>

    <body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
        <header class="masthead" style="background: url(&quot;{{asset('img/wallpaperflare.com_wallpaper.jpg')}}&quot;) top / cover no-repeat;">
            <h1 style="color: rgb(255,255,255);text-align: center;padding: 136px 0px 0px;padding-top: 119px;padding-right: 0px;padding-left: 590px;">Oups...</h1>
            <p style="border-color: rgb(255,255,255);color: rgb(255,255,255);font-size: 22px;padding-right: 0px;padding-left: 590px;">Il semblerait que vous tentiez d'accéder<br> à une ressource dont vous n'avez pas les droits...<br>Retrouvez le droit chemin ( des filets )<br>en suivant&nbsp;<a href="{{path('app_homepage')}}" style="color: rgb(254,209,54);">ce lien</a>&nbsp;</p>
        </header>
        <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
            <div class="container"><a class="navbar-brand" href="{{path('app_homepage')}}" style="color: rgb(254,209,54);">Brand</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            </div>
        </nav>
    </body>
</html>
